*{
    margin: 0;
    padding: 0;/*para generar espacio alrededor de los elementos*/
    box-sizing: border-box;/*permite incluir/ajustar el padding y el margin sin pasar la dimensión*/
}
body{
    height: 100%;/*altura**/
    background-color: #fff;
    color:black;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif; /* Open Sans para el cuerpo */;
}
/*main*/

/******TIPOGRAFIA**********/

h1, h2{
    font-size: 50px; /* Tamaño de fuente para h1 en pantalla grande */
    font-weight: bold; /* Texto en negrita */
    margin-top: 30px;
}
/***TEXTO RECURSOS***/
h5{
    letter-spacing: 0.10em;
    font-weight: 700;
    font-size: 12px;
}
/***TEXTO BUTTON***/
#span {
    font-size: 19px;
    font-weight: 800;
    letter-spacing: 0.10em;/*espacio entre letras*/
    justify-content: center;
}
/*****IMAGEN DE FONDO******/
.container-image {
    background-image: url("/img/tyler-nix.jpg");
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.container-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/****TABLA******/
table {
    margin:auto;
}

th {
    height: 70px;
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid black;
}
td {
 padding:20px;
 border-bottom: 1px solid black;
}

/****CONTAINER HEADER******/
.header-container{
    background-image: url("/img/chica---lateral---inicio.png");/*<---IMAGEN ****/
    background-color: #f1f1f1 ;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 590px 700px;
    position: relative;
    height: 700px;
    
}
.container-nav{
    display: flex;
    padding: 10px;
    width: 100%;
}
/*****NAVEGADOR******/
.navigation{
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0 ;
    padding: 2em;
    justify-content: space-between;
    display: flex;
    position: relative;
    align-items: center;
   
}
.nav-links{
    float:right; /*para posicionar un elemento al lado de otro elemento*/
    z-index: 2;
    display: flex;/**/
}
/**** oculta checkbox *****/
.nav-button, #menu-check {
    display: none;
}
.nav-links a{
    position: relative;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 10px;
    color: black;
    font-size: 10px;
    font-weight: 500;
    border-radius: 18px;
    text-transform: uppercase;
    letter-spacing: .115em;
}
.nav-links{
    list-style: none;
    display: flex;
    gap:1em;
}

/*flex-box
/**** CAJA PADRE ***/
.container-flex{
    border:1px solid #f075db;
    display:flex;
    width: 420px;/*ancho*/
    flex-direction: column;/**/
    justify-content: center;
    text-align: center;
    
}
.container-flex > div { /* > se aplica a TODOS los elementos DIV QUE ESTAN contenidos DENTRO de CONTAINER-FLEX*/
    height: 140px; /*altura*/
    margin: 5px; 
   }
.box1{
    border: 1px solid green;
    text-align: left;
    flex: 1;/**/
    padding: 20px;
}
.box2{
    border: 1px solid green;
    text-align: left;
    flex: 1;/**/
    padding: 20px;
}
/****************/
/*Flex-box*/
.column{
    flex-direction: column;
    text-align: center;
    margin: 5px;
}
.container-row{
    display: flex;
    flex-wrap: wrap;/*Los elementos flexibles se ajustan en varias líneas según sea necesario.*/
    margin: 10px;
    padding: 30px;
    justify-content: center;/*****controla la alineación de todos los elementos en el eje principal*****/
    align-items: center;/****controla la alineación de todos los elementos en el eje transversal****/
    overflow: hidden;
}
/****TARJETAS****/
.card{
    width: 170px;
    height: 290px;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;/*Los elementos flexibles se colocan en una columna en el mismo sentido que
    el eje principal.*/
    align-items: center;
    text-align: center;
    border-radius: 700px;
    justify-content: center;
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) padding-box padding-box, 
    linear-gradient(-225deg, rgb(117, 240, 148), rgb(117, 178, 240)) border-box border-box;
    border: 2px solid transparent;

}
.img-card{
    transform: translate(0%, -40%);
    height: 80px;
    width: auto;
}

/*****CONTENEDOR PADRE DE TABLA****/
/*.container-tabla {
    border: 2px solid greenyellow;
    width: auto;/*100%*//*
    margin: auto;
    padding: 10px;
    height: 700px;
    justify-content: center;

}*/
/**************/
/*Grid*//*PASAR A FLEX-BOX*/
/*****CONTENEDOR PADRE*******/        
.grid-container {
    display: grid;/*crea un contenedor de cuadricula*/
    grid-template-columns: auto auto; /*define DOS COLUMNAS, y el tamaño de columnas*/
    gap: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    overflow: hidden;
}
/***IMAGEN DE GRID****/
.img-grid{
    border-radius: 30px;
    width: 570px;
   /*float: left;*/
    margin-left: 30px;
    display: grid;

}
.text-grid{
    margin: 0px  90px 0px 50px; /*tercer valor abajo*/
    display:grid;
   
}

.grid-container > div {/* > se aplica a TODOS los elementos DIV QUE ESTAN contenidos DENTRO de GRID-CONTAINER*/
    justify-content: center;
    padding: 100px 0px;
   /*border: 1px solid ;/*BORDE DE GRID*/
    
}
/********************************/

.nav-links a:hover {
    background-color: black;
    color: white;
}

/*.icons{
 height: 18px;
 width: auto ;
 padding-right: 5px;
 
}*/
@keyframes animaboton {
    0%   {top: 0px; background: violet; width: 100px;}
    100% {top: 200px; background: lightblue; width: 300px;}
}
#button{
    border-radius: 40px;
    padding: 0 25px;
    margin: 40px 35px;
    align-items: center;
    display:inline-flex;
    height: 75px;
    border: 3px solid transparent;
    animation: animaboton 5s infinite;
}
/*****TAMAÑO LOGO******/
#logo img{
    height: 50px;
    width: auto;
    display: block;
    margin-left: 15px;


}
/*contacto*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    padding: 0 10px;
}
#contacts{
    z-index: 2;
}
#contacts .content{
    padding: 90px 0;
    z-index: 2;
}

#contact_form{ /**FIELSET**/
    max-width: 500px;
    font-size: 11px;
    color: #666666;
    margin: 0 auto;
}
#contact_form label{
    display: block;
    text-align: center;/*se aplica a elementos de bloque y celdas de tabla*/
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1em;
    text-transform: uppercase;
    color: #666;
}
/****margin top*****/
.m-top{
    float: left;
    margin-top: 15px;
    text-align: center;
    width: 100%;

}

#contact_form input{
    border:1px solid #666;
    outline: none;
    padding: 0 20px;
    float: left;
    width: 100%;
    height: 35px;
    color: #666;
    -webkit-font-smoothing: antialiase;
    font-size: 1em;
    
}
input::placeholder {
    color: #666;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

#contact_form textarea{
    background: none repeat scroll 0 0 rgba(2522, 255, 255, 0.2);
    border: 1px solid #666;
    color: #666;
    height:200px;
    width: 100%;/*ocupa el 100% del contenedor FIELSET*/
    resize: none;
    outline: none;
    margin-top:8px;
    padding: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.grid-half{
    
    position: relative;
    margin-bottom: 40px;
    
}


fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0,35em;
    padding-inline-start: 0,75em;
    padding-inline-end: 0.75;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb (192, 192, 192);
    border-image: initial;

}
#contact_form label{
	margin-top: 70px;
}
#contact_form label .m-top{
    margin-top: 22px;
}
.content{
    width: 100%;
    float: left;
    position: relative;
    z-index: 4;
}

fieldset,label {
    border: none;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
/*BOTON ENVIAR*/
.submit_btn {
    border: none;
    padding: 5px 15px 5px 15px;
    width: 100%; /*ocupa el 100% del contenedor FIELSET*/
    height: 70px;
    margin: 0 auto;
    cursor: pointer;
    letter-spacing: 3px;
    position: relative;
    
}
#submit_btn:hover{
    background-color:#000;
    color: white;
}
/*formularios*/
@media only screen and (max-width:740px){
    #contact_form label{
        margin-top: 70px;
    }
}

/*****FOOTER****/
footer{
    position: relative;
    bottom: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    min-height: 200px;
    text-align: center;
    width: 100%;
    padding: 50px 0;
}

.logo-footer{
    height: 50px;
    width: auto;
    display: block;
    align-items: center;
    text-align: center;
}
.footer-separator{
    width: 150px;
    height:1px;
    margin:10px auto;
    background: #fff ;
}
footer a{
    color: #ffffff;
    text-decoration: none;
  }
footer p{
    padding-top: 15px;
    color: #ffffff;
    font-size: 12px;
} 

/* QUERIES DE TEXTO */
/* Media query para pantallas grandes */
@media screen and (min-width: 1200px) {
  h1, h2 {
    font-size: 48px; /* Tamaño de fuente para h1 en pantallas grandes */
  }
  
  body {
    font-size: 18px; /* Tamaño de fuente para h2-h6 en pantallas grandes */
  }
}

/* Media query para tabletas */
@media screen and (min-width: 900px) and (max-width: 1199px) {
  h1, h2 {
    font-size: 44px; /* Tamaño de fuente para h1 en tabletas */
  }
  
  body {
    font-size: 16px; /* Tamaño de fuente para h2-h6 en tabletas */
  }
}

/* Media query para pantallas más pequeñas (celulares) */
@media screen and (max-width: 767px) {
  h1, h2 {
    font-size: 40px; /* Tamaño de fuente para h1 en pantallas pequeñas */
  }
  
  body {
    font-size: 14px; /* Tamaño de fuente para h2-h6 en pantallas pequeñas */
  }
}

/*****MENU RESPONSIVO******/

/*para poner los hipervinculos en bloque*//*la palabra only evita que los navegadores antiguos que no admitan media queries, apliquen los estilos dados*/
@media only screen and (max-width: 768px) {/*SI el dispositivo es menor a 600px*/
    /*.nav-button{
        display: none;
    }*/
    .nav-links{
        display: none;
    }
    /*span hamburger*/
    .nav-button{
        width:46px;
        height: 36px;
        top:18px;
        right:30px;
        padding:4px;
        display:block;
        z-index:3;/*hace que los elementos sibling no hagan overlap*/
        cursor:pointer;

    }
    /*dibujamos una linea recta por cada span creando un menu hamburguesa*/
    .nav-button span{
        width:100%;
        height:4px;
        float:left;
        margin-bottom:6px;
        background:#666;
        display: block;
        transition: all 0.25s ease;
        transform-origin: 0px 100%;
     
    }
    /*****BARRA DE NAVEGACIÓN*****/
    .nav-links{
        position: absolute;
        display:block;/*fles*/
        background-color: rgba(20, 20, 20, 0.95);
        width: 100%; /*ENTONCES que cada hipervinculo mida un 100%*//*ES EL MISMO RESULTADO QUE PONERLO EN BLOQUE*/
        height: 700px;;     
        top: 0;
        left: 0;
        align-items: center;
        padding-top: 200px;
        gap: 70px;
        flex-direction: column;
        
    }
    .nav-links a{
        padding: 2px;
        display: block;
        text-transform: none;
        color: #fff;
        font-size: 20px;
    }
    .nav-links li{
        justify-content: center;

    }
    .nav-links a:hover {
        color: white;
        border:1px solid white;
        border-radius: 0;
       
    }
    
    #menu-check:not(:checked) ~ .nav-links{
        display: none;
    }
    
  }
@media (max-width: 900px) {
  .container-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .box1, .box2 {
    width: 100%;
  }

  .box1 {
    order: 1;
    margin-bottom: 20px; /* Espacio entre la imagen y el texto */
  }

  .box2 {
    order: 2;
  }
}


